@import "tailwindcss";

@layer utilities {
  .scrolling-marquee {
    animation: marquee-left 12s linear infinite;
    will-change: transform;
  }
  @keyframes marquee-left {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
}